In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# Data file paths
libraries_path = "libraries.csv"
state_path = "states.csv"

# Read the data files
libraries_data = pd.read_csv(libraries_path)
state_data = pd.read_csv(state_path)

/Users/lauragabrielson/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (2,17,18,19,20,21,22,23,24,25,26,27,28,29,30,34,35,36,37,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
libraries_data.head()

,State,Library ID,Submission Year,Library Name,Street Address,City,Zip Code,Longitude,Latitude,State Code,...,Children’s Programs,Young Adult Programs,Library Program Audience,Children’s Program Audience,Young Adult Program Audience,Public Internet Computers,Internet Computer Use,Wireless Internet Sessions,Start Date,End Date
0,AK,AK0001,2015,ANCHOR POINT PUBLIC LIBRARY,72551 MILO FRITZ AVENUE,ANCHOR POINT,99556,-151.840007,59.779604,2,...,15,0,146,128,0,8,1675,0,07/01/2013,06/30/2014
1,AK,AK0002,2015,ANCHORAGE PUBLIC LIBRARY,3600 DENALI STREET,ANCHORAGE,99503,-149.876781,61.187677,2,...,906,412,68778,41259,9656,135,138689,0,01/01/2013,12/31/2013
2,AK,AK0003,2015,ANDERSON VILLAGE LIBRARY,101 FIRST STREET,ANDERSON,99744,-149.178635,64.343598,2,...,7,0,16,16,0,4,480,0,07/01/2013,06/30/2014
3,AK,AK0006,2015,KUSKOKWIM CONSORTIUM LIBRARY,420 CHIEF EDDIE HOFFMAN HIGHWAY,BETHEL,99559,-161.802957,60.785755,2,...,37,1,815,417,15,9,20000,0,07/01/2013,06/30/2014
4,AK,AK0007,2015,BIG LAKE PUBLIC LIBRARY,3140 SOUTH BIG LAKE ROAD,BIG LAKE,99652,-149.818403,61.546612,2,...,118,11,6316,3893,1396,22,11301,5148,07/01/2013,06/30/2014

In [5]:
state_data.head()

,Submission Year,State,State Code,Region Code,Service Population,Service Population Without Duplicates,State Population,Central Libraries,Branch Libraries,Bookmobiles,...,Children’s Programs,Young Adult Programs,Library Program Audience,Children’s Program Audience,Young Adult Program Audience,Public Internet Computers,Internet Computer Use,Wireless Internet Sessions,Start Date,End Date
0,2015,AK,2,8,652274,652274,735601,85,16,1,...,8802,1528,279080,202322,25902,998,772129,479245,01/2013,06/2014
1,2015,AL,1,5,4822023,4822023,4822023,221,76,14,...,21685,4844,1053347,696970,77371,5302,4359414,15224387,10/2013,09/2014
2,2015,AR,5,5,2833849,2643928,2915918,54,179,2,...,21081,4620,997901,712783,88721,2596,1970448,160450,01/2014,12/2014
3,2015,AZ,4,6,10501253,6667241,6667241,85,135,11,...,37852,6702,1472963,1034731,109545,5593,8255038,5880952,07/2013,06/2014
4,2015,CA,6,8,38322887,38322887,38340074,167,950,53,...,206627,33645,9491467,6909344,531379,21735,35000501,14252610,07/2013,06/2014