In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# Data file paths
libraries_path = "libraries.csv"
state_path = "states.csv"

# Read the data files
libraries_data = pd.read_csv(libraries_path)
state_data = pd.read_csv(state_path)

/Users/lauragabrielson/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (2,17,18,19,20,21,22,23,24,25,26,27,28,29,30,34,35,36,37,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
libraries_data

,State,Library ID,Submission Year,Library Name,Street Address,City,Zip Code,Longitude,Latitude,State Code,...,Children’s Programs,Young Adult Programs,Library Program Audience,Children’s Program Audience,Young Adult Program Audience,Public Internet Computers,Internet Computer Use,Wireless Internet Sessions,Start Date,End Date
0,AK,AK0001,2015,ANCHOR POINT PUBLIC LIBRARY,72551 MILO FRITZ AVENUE,ANCHOR POINT,99556,-151.840007,59.779604,2,...,15,0,146,128,0,8,1675,0,07/01/2013,06/30/2014
1,AK,AK0002,2015,ANCHORAGE PUBLIC LIBRARY,3600 DENALI STREET,ANCHORAGE,99503,-149.876781,61.187677,2,...,906,412,68778,41259,9656,135,138689,0,01/01/2013,12/31/2013
2,AK,AK0003,2015,ANDERSON VILLAGE LIBRARY,101 FIRST STREET,ANDERSON,99744,-149.178635,64.343598,2,...,7,0,16,16,0,4,480,0,07/01/2013,06/30/2014
3,AK,AK0006,2015,KUSKOKWIM CONSORTIUM LIBRARY,420 CHIEF EDDIE HOFFMAN HIGHWAY,BETHEL,99559,-161.802957,60.785755,2,...,37,1,815,417,15,9,20000,0,07/01/2013,06/30/2014
4,AK,AK0007,2015,BIG LAKE PUBLIC LIBRARY,3140 SOUTH BIG LAKE ROAD,BIG LAKE,99652,-149.818403,61.546612,2,...,118,11,6316,3893,1396,22,11301,5148,07/01/2013,06/30/2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9237,WY,WY0019,2015,SUBLETTE COUNTY LIBRARY,155 S TYLER ST,PINEDALE,82941,-109.861281,42.865097,56,...,549,75,16121,12524,1084,37,23772,-1,07/01/2013,06/30/2014
9238,WY,WY0020,2015,TETON COUNTY LIBRARY,125 VIRGINIAN LANE,JACKSON,83001,-110.779203,43.471780,56,...,621,374,33632,19635,5439,64,109511,31975,07/01/2013,06/30/2014
9239,WY,WY0021,2015,UINTA COUNTY LIBRARY,701 MAIN ST,EVANSTON,82930,-110.963405,41.265975,56,...,504,12,18273,15593,164,26,17847,6986,07/01/2013,06/30/2014
9240,WY,WY0022,2015,WASHAKIE COUNTY LIBRARY,1019 COBURN AVE,WORLAND,82401,-107.955461,44.015771,56,...,112,0,3342,2972,0,16,10930,-1,07/01/2013,06/30/2014
9241,WY,WY0023,2015,WESTON COUNTY LIBRARY SYSTEM,23 WEST MAIN ST,NEWCASTLE,82701,-104.202302,43.855671,56,...,171,2,3797,3296,34,9,6387,826,07/01/2013,06/30/2014

In [4]:
libraries_data.dtypes

State                         object
Library ID                    object
Submission Year               object
Library Name                  object
Street Address                object
                               ...
Public Internet Computers     object
Internet Computer Use         object
Wireless Internet Sessions    object
Start Date                    object
End Date                      object
Length: 74, dtype: object

In [5]:
libraries_df = libraries_data[["State", "Library ID", "Library Name", "Street Address", "City", "Longitude", "Latitude", 
                               "Service Population Without Duplicates", "Hours Open", "Library Visits", "Registered Users", 
                               "Circulation Transactions", "Bookmobiles", "MLS Librarians", "Librarians", "Employees",
                               "Total Staff", "Salaries", "Benefits", "Total Staff Expenditures", "Local Government Operating Revenue", 
                               "State Government Operating Revenue", "Federal Government Operating Revenue", "Other Operating Revenue", 
                               "Total Operating Revenue", "Print Collection Expenditures", "Digital Collection Expenditures", 
                               "Other Collection Expenditures", "Total Collection Expenditures", "Other Operating Expenditures", 
                               "Total Operating Expenditures","Print Collection", "Digital Collection", "Audio Collection", 
                               "Downloadable Audio", "Physical Video", "Downloadable Video"]]
                               
libraries_df

,State,Library ID,Library Name,Street Address,City,Longitude,Latitude,Service Population Without Duplicates,Hours Open,Library Visits,...,Other Collection Expenditures,Total Collection Expenditures,Other Operating Expenditures,Total Operating Expenditures,Print Collection,Digital Collection,Audio Collection,Downloadable Audio,Physical Video,Downloadable Video
0,AK,AK0001,ANCHOR POINT PUBLIC LIBRARY,72551 MILO FRITZ AVENUE,ANCHOR POINT,-151.840007,59.779604,2059,1377,5379,...,1009,4030,,21282,16843,0,258,0,4159,0
1,AK,AK0002,ANCHORAGE PUBLIC LIBRARY,3600 DENALI STREET,ANCHORAGE,-149.876781,61.187677,300549,10208,942873,...,253111,1152280,3690161,10910542,481861,9773,28552,10496,63779,0
2,AK,AK0003,ANDERSON VILLAGE LIBRARY,101 FIRST STREET,ANDERSON,-149.178635,64.343598,209,480,874,...,877,3508,,11449,15304,0,48,0,1091,0
3,AK,AK0006,KUSKOKWIM CONSORTIUM LIBRARY,420 CHIEF EDDIE HOFFMAN HIGHWAY,BETHEL,-161.802957,60.785755,6241,2912,44980,...,4871,14801,5926,261212,34115,165,434,0,2345,0
4,AK,AK0007,BIG LAKE PUBLIC LIBRARY,3140 SOUTH BIG LAKE ROAD,BIG LAKE,-149.818403,61.546612,12793,2548,43285,...,0,21552,52251,347675,23810,9773,1813,10496,2623,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9237,WY,WY0019,SUBLETTE COUNTY LIBRARY,155 S TYLER ST,PINEDALE,-109.861281,42.865097,10041,6468,197314,...,39968,112968,253775,1242920,73390,7766,4480,5850,10282,0
9238,WY,WY0020,TETON COUNTY LIBRARY,125 VIRGINIAN LANE,JACKSON,-110.779203,43.471780,22268,4316,280211,...,30984,130105,393270,3159627,81207,7832,12488,6055,8257,0
9239,WY,WY0021,UINTA COUNTY LIBRARY,701 MAIN ST,EVANSTON,-110.963405,41.265975,21066,6292,112403,...,0,0,87056,685960,111377,7087,5916,5850,10771,0
9240,WY,WY0022,WASHAKIE COUNTY LIBRARY,1019 COBURN AVE,WORLAND,-107.955461,44.015771,8463,4943,73300,...,9317,25317,45750,247071,73464,7087,2065,5850,3208,0
9241,WY,WY0023,WESTON COUNTY LIBRARY SYSTEM,23 WEST MAIN ST,NEWCASTLE,-104.202302,43.855671,7158,3770,43103,...,4634,16443,48115,308016,43264,7087,1862,5850,3831,0

In [6]:
libraries_final = libraries_df.rename(columns={"State": "state", "Library ID": "library_id", "Library Name": "library_name",
                                               "Street Address": "streed_address", "City": "city", "Longitude": "lon", 
                                               "Latitude": "lat", "Service Population Without Duplicates": "services_population",
                                               "Hours Open": "hours", "Library Visits": "visits", "Registered Users": "registered_users",
                                               "Circulation Transactions": "circulation transactions", "Bookmobiles": "bookmobiles", 
                                               "MLS Librarians": "mls_librarians", "Librarians": "librarians", "Employees": "employees",
                                               "Total Staff": "total_staff", "Salaries": "salaries", "Benefits": "benefits", 
                                               "Total Staff Expenditures": "total_staff_expenditures", "Local Government Operating Revenue": "local_govt_operating_revenue", 
                                               "State Government Operating Revenue": "state_govt_operating_revenue", 
                                               "Federal Government Operating Revenue": "federal_govt_operating_revenue", 
                                               "Other Operating Revenue": "other_operating_revenue", "Total Operating Revenue": "total_operating_revenue", 
                                               "Print Collection Expenditures": "print_collections_expenditures", "Digital Collection Expenditures": "digital_collections_expenditures", 
                                               "Other Collection Expenditures": "other_collection_expenditures", "Total Collection Expenditures": "total_collection_expenditures", 
                                               "Other Operating Expenditures": "other_operating_expenditures", "Total Operating Expenditures": "total_operating_expenditures",
                                               "Print Collection": "print_collection", "Digital Collection": "digital_collection", 
                                               "Audio Collection": "audio_collection", "Downloadable Audio": "downloadable_audio", 
                                               "Physical Video": "physical_video", "Downloadable Video": "downloadable_video"})
                               
libraries_final

,state,library_id,library_name,streed_address,city,lon,lat,services_population,hours,visits,...,other_collection_expenditures,total_collection_expenditures,other_operating_expenditures,total_operating_expenditures,print_collection,digital_collection,audio_collection,downloadable_audio,physical_video,downloadable_video
0,AK,AK0001,ANCHOR POINT PUBLIC LIBRARY,72551 MILO FRITZ AVENUE,ANCHOR POINT,-151.840007,59.779604,2059,1377,5379,...,1009,4030,,21282,16843,0,258,0,4159,0
1,AK,AK0002,ANCHORAGE PUBLIC LIBRARY,3600 DENALI STREET,ANCHORAGE,-149.876781,61.187677,300549,10208,942873,...,253111,1152280,3690161,10910542,481861,9773,28552,10496,63779,0
2,AK,AK0003,ANDERSON VILLAGE LIBRARY,101 FIRST STREET,ANDERSON,-149.178635,64.343598,209,480,874,...,877,3508,,11449,15304,0,48,0,1091,0
3,AK,AK0006,KUSKOKWIM CONSORTIUM LIBRARY,420 CHIEF EDDIE HOFFMAN HIGHWAY,BETHEL,-161.802957,60.785755,6241,2912,44980,...,4871,14801,5926,261212,34115,165,434,0,2345,0
4,AK,AK0007,BIG LAKE PUBLIC LIBRARY,3140 SOUTH BIG LAKE ROAD,BIG LAKE,-149.818403,61.546612,12793,2548,43285,...,0,21552,52251,347675,23810,9773,1813,10496,2623,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9237,WY,WY0019,SUBLETTE COUNTY LIBRARY,155 S TYLER ST,PINEDALE,-109.861281,42.865097,10041,6468,197314,...,39968,112968,253775,1242920,73390,7766,4480,5850,10282,0
9238,WY,WY0020,TETON COUNTY LIBRARY,125 VIRGINIAN LANE,JACKSON,-110.779203,43.471780,22268,4316,280211,...,30984,130105,393270,3159627,81207,7832,12488,6055,8257,0
9239,WY,WY0021,UINTA COUNTY LIBRARY,701 MAIN ST,EVANSTON,-110.963405,41.265975,21066,6292,112403,...,0,0,87056,685960,111377,7087,5916,5850,10771,0
9240,WY,WY0022,WASHAKIE COUNTY LIBRARY,1019 COBURN AVE,WORLAND,-107.955461,44.015771,8463,4943,73300,...,9317,25317,45750,247071,73464,7087,2065,5850,3208,0
9241,WY,WY0023,WESTON COUNTY LIBRARY SYSTEM,23 WEST MAIN ST,NEWCASTLE,-104.202302,43.855671,7158,3770,43103,...,4634,16443,48115,308016,43264,7087,1862,5850,3831,0

In [7]:
col_dtypes = dict([(k, v.name) for k, v in dict(libraries_final.dtypes).items()])
print(col_dtypes)

{'state': 'object', 'library_id': 'object', 'library_name': 'object', 'streed_address': 'object', 'city': 'object', 'lon': 'float64', 'lat': 'float64', 'services_population': 'object', 'hours': 'object', 'visits': 'object', 'registered_users': 'object', 'circulation transactions': 'object', 'bookmobiles': 'object', 'mls_librarians': 'object', 'librarians': 'object', 'employees': 'object', 'total_staff': 'object', 'salaries': 'object', 'benefits': 'object', 'total_staff_expenditures': 'object', 'local_govt_operating_revenue': 'object', 'state_govt_operating_revenue': 'object', 'federal_govt_operating_revenue': 'object', 'other_operating_revenue': 'object', 'total_operating_revenue': 'object', 'print_collections_expenditures': 'object', 'digital_collections_expenditures': 'object', 'other_collection_expenditures': 'object', 'total_collection_expenditures': 'object', 'other_operating_expenditures': 'object', 'total_operating_expenditures': 'object', 'print_collection': 'object', 'digital_collection': 'object', 'audio_collection': 'object', 'downloadable_audio': 'object', 'physical_video': 'object', 'downloadable_video': 'object'}

In [ ]:
libraries_final["total_staff"] = libraries_final["total_staff"].str.strip()
libraries_final["total_staff"] = libraries_final["total_staff"].dropna()

In [ ]:

libraries_final.drop(6095, inplace=True)

In [8]:
# df["A"] = pd.to_numeric(df["A"], downcast="float")
libraries_final["print_collection"] = pd.to_numeric(libraries_final["print_collection"])

ValueError: Unable to parse string "R_14" at position 6095

In [9]:

# print(libraries_final.iloc[[6095]])
display(libraries_final.iloc[[6095]])

,state,library_id,library_name,streed_address,city,lon,lat,services_population,hours,visits,...,other_collection_expenditures,total_collection_expenditures,other_operating_expenditures,total_operating_expenditures,print_collection,digital_collection,audio_collection,downloadable_audio,physical_video,downloadable_video
6095,NY,NY0437,BEAVER FALLS LIBRARY,9607 LEWIS STREET,BEAVER FALLS,-75.425332,43.88762,R_14,R_14,R_14,...,R_14,R_14,R_14,H_14,R_14,R_14,R_14,R_14,R_14,R_14

In [10]:
libraries_final["total_staff"].describe

<bound method NDFrame.describe of 0        0.68
1        78.9
2         0.5
3           3
4           3
        ...
9237       15
9238    41.36
9239       13
9240      6.3
9241     6.41
Name: total_staff, Length: 9242, dtype: object>

In [11]:
# df['DataFrame Column'] = df['DataFrame Column'].astype(float)
libraries_final["total_staff"] = libraries_final["total_staff"].astype(float)

ValueError: could not convert string to float: 'R_14'

In [12]:
libraries_state = libraries_data.groupby('State')
libraries_state.sum()

,Zip Code,Longitude,Latitude,State Code,County Code,County Population
State,,,,,,
AK,8474708,-11807.160724,4774.251933,170,13455,2200138
AL,8032309,-19087.812537,7263.087581,224,15570,31894335
AR,4197957,-5286.049498,2005.357693,290,3876,5254955
AZ,7792799,-10148.047262,3060.650075,364,1293,85001139
CA,17184619,-21681.538096,6521.184225,1104,10416,530966518
CO,9222167,-11904.903914,4413.791137,912,7343,12785429
CT,1229734,-13965.758677,7983.966085,1728,1368,101034532
DC,20001,-77.024209,38.898410,11,1,658893
DE,417882,-1509.212311,778.583363,210,79,5982026
FL,2723291,-6552.197630,2249.217610,984,5927,64705330
GA,1970896,-4859.754810,1913.395938,819,9465,8013794
HI,96813,-157.863240,21.309500,15,3,991788
IA,27780411,-50184.567080,22648.869093,10317,53381,22681338
ID,8602487,-11832.407930,4557.354308,1648,4373,6219446
IL,38375670,-55130.198713,25170.746772,10625,59451,578370467
IN,11140070,-20185.807279,9391.515631,4266,21053,21129226
KS,22005954,-31398.733087,12378.944740,6560,34058,14477355
KY,4923686,-9965.223477,4402.725834,2499,14197,4417380
LA,4815339,-5784.912379,1955.508879,1496,4450,4974823
MA,667597,-25927.450104,15295.370179,9250,5468,237537244
MD,513261,-1840.229192,936.299293,576,1079,5976407
ME,1188710,-18352.700705,11733.613211,6118,4294,28684604
MI,19040430,-32894.591372,16809.122806,10114,35893,130779825
MN,7658061,-12749.143896,6141.647970,3699,12055,11396419
MO,9716860,-13921.537381,5796.886824,4379,18860,18155483
MS,2036821,-4664.591058,1700.730758,1456,4166,2608945
MT,4879178,-9055.438389,3844.589329,2460,4348,2107816
NC,2244970,-6370.504504,2846.938505,2960,8046,10639872
ND,4791374,-8190.165452,3888.214536,3116,4248,1873551
NE,18347970,-25819.035335,10808.202887,8277,24235,7015148
NH,797059,-16322.192771,9895.636837,7557,2393,36834414
NJ,2306202,-22031.712430,11996.440316,10064,5378,177552020
NM,8325433,-9981.776641,3269.291129,3325,3179,7682225
NV,1874274,-2343.613141,766.038286,672,820,9205331
NY,9789488,-56477.783513,31802.620502,27216,48920,315630521
OH,11133338,-20756.156525,10192.082385,9789,22259,50504081
OK,8646759,-11191.868440,4106.408243,4680,9083,6398880
OR,12664843,-15607.311175,5736.555857,5330,5144,22183935
PA,7821754,-35156.394801,18411.989044,19110,27087,166400298
RI,137120,-3431.652443,2001.366091,2112,306,16423386
SC,1237231,-3397.662021,1430.788923,1890,2008,5020045
SD,6426050,-10705.628301,4772.394353,5152,7676,2091123
TN,7020838,-15894.212062,6633.704361,8742,18120,16037684
TX,42996815,-53338.694258,17145.832470,26688,136980,221883125
UT,6163242,-8049.301624,2871.647548,3577,2167,13847338
VA,2137805,-7141.824912,3417.734219,4641,26763,7027662
VT,997959,-13232.235198,8010.060763,9100,2858,9470906
WA,6121269,-7362.614487,2885.725092,3286,2746,15357617
WI,20590448,-33647.596240,16523.691599,20955,29169,50972375
WV,2515408,-7813.178013,3765.279854,5238,5329,3523760
WY,1899151,-2464.290172,988.744452,1288,529,584153

In [13]:
state_data.head()

,Submission Year,State,State Code,Region Code,Service Population,Service Population Without Duplicates,State Population,Central Libraries,Branch Libraries,Bookmobiles,...,Children’s Programs,Young Adult Programs,Library Program Audience,Children’s Program Audience,Young Adult Program Audience,Public Internet Computers,Internet Computer Use,Wireless Internet Sessions,Start Date,End Date
0,2015,AK,2,8,652274,652274,735601,85,16,1,...,8802,1528,279080,202322,25902,998,772129,479245,01/2013,06/2014
1,2015,AL,1,5,4822023,4822023,4822023,221,76,14,...,21685,4844,1053347,696970,77371,5302,4359414,15224387,10/2013,09/2014
2,2015,AR,5,5,2833849,2643928,2915918,54,179,2,...,21081,4620,997901,712783,88721,2596,1970448,160450,01/2014,12/2014
3,2015,AZ,4,6,10501253,6667241,6667241,85,135,11,...,37852,6702,1472963,1034731,109545,5593,8255038,5880952,07/2013,06/2014
4,2015,CA,6,8,38322887,38322887,38340074,167,950,53,...,206627,33645,9491467,6909344,531379,21735,35000501,14252610,07/2013,06/2014