In [1]:
# Dependencies and Setup
import pandas as pd
from sqlalchemy import create_engine
from config import (password, host, port, database)

In [2]:
# Data file paths
libraries_path = "libraries.csv"
state_path = "state_abbrev.csv"

# Read the data files
libraries_data = pd.read_csv(libraries_path)
state_data = pd.read_csv(state_path)

C:\Users\swdri\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (2,17,18,19,20,21,22,23,24,25,26,27,28,29,30,34,35,36,37,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
libraries_data

,State,Library ID,Submission Year,Library Name,Street Address,City,Zip Code,Longitude,Latitude,State Code,...,Children’s Programs,Young Adult Programs,Library Program Audience,Children’s Program Audience,Young Adult Program Audience,Public Internet Computers,Internet Computer Use,Wireless Internet Sessions,Start Date,End Date
0,AK,AK0001,2015,ANCHOR POINT PUBLIC LIBRARY,72551 MILO FRITZ AVENUE,ANCHOR POINT,99556,-151.840007,59.779604,2,...,15,0,146,128,0,8,1675,0,07/01/2013,06/30/2014
1,AK,AK0002,2015,ANCHORAGE PUBLIC LIBRARY,3600 DENALI STREET,ANCHORAGE,99503,-149.876781,61.187677,2,...,906,412,68778,41259,9656,135,138689,0,01/01/2013,12/31/2013
2,AK,AK0003,2015,ANDERSON VILLAGE LIBRARY,101 FIRST STREET,ANDERSON,99744,-149.178635,64.343598,2,...,7,0,16,16,0,4,480,0,07/01/2013,06/30/2014
3,AK,AK0006,2015,KUSKOKWIM CONSORTIUM LIBRARY,420 CHIEF EDDIE HOFFMAN HIGHWAY,BETHEL,99559,-161.802957,60.785755,2,...,37,1,815,417,15,9,20000,0,07/01/2013,06/30/2014
4,AK,AK0007,2015,BIG LAKE PUBLIC LIBRARY,3140 SOUTH BIG LAKE ROAD,BIG LAKE,99652,-149.818403,61.546612,2,...,118,11,6316,3893,1396,22,11301,5148,07/01/2013,06/30/2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9237,WY,WY0019,2015,SUBLETTE COUNTY LIBRARY,155 S TYLER ST,PINEDALE,82941,-109.861281,42.865097,56,...,549,75,16121,12524,1084,37,23772,-1,07/01/2013,06/30/2014
9238,WY,WY0020,2015,TETON COUNTY LIBRARY,125 VIRGINIAN LANE,JACKSON,83001,-110.779203,43.471780,56,...,621,374,33632,19635,5439,64,109511,31975,07/01/2013,06/30/2014
9239,WY,WY0021,2015,UINTA COUNTY LIBRARY,701 MAIN ST,EVANSTON,82930,-110.963405,41.265975,56,...,504,12,18273,15593,164,26,17847,6986,07/01/2013,06/30/2014
9240,WY,WY0022,2015,WASHAKIE COUNTY LIBRARY,1019 COBURN AVE,WORLAND,82401,-107.955461,44.015771,56,...,112,0,3342,2972,0,16,10930,-1,07/01/2013,06/30/2014
9241,WY,WY0023,2015,WESTON COUNTY LIBRARY SYSTEM,23 WEST MAIN ST,NEWCASTLE,82701,-104.202302,43.855671,56,...,171,2,3797,3296,34,9,6387,826,07/01/2013,06/30/2014

In [4]:
libraries_data.dtypes

State                         object
Library ID                    object
Submission Year               object
Library Name                  object
Street Address                object
                               ...
Public Internet Computers     object
Internet Computer Use         object
Wireless Internet Sessions    object
Start Date                    object
End Date                      object
Length: 74, dtype: object

In [5]:
libraries_df = libraries_data[["State", "Library ID", "Library Name", "Street Address", "City", "Longitude", "Latitude", 
                               "Service Population Without Duplicates", "Hours Open", "Library Visits", "Registered Users", 
                               "Circulation Transactions", "Bookmobiles", "MLS Librarians", "Librarians", "Employees",
                               "Total Staff", "Salaries", "Benefits", "Total Staff Expenditures", "Local Government Operating Revenue", 
                               "State Government Operating Revenue", "Federal Government Operating Revenue", "Other Operating Revenue", 
                               "Total Operating Revenue", "Print Collection Expenditures", "Digital Collection Expenditures", 
                               "Other Collection Expenditures", "Total Collection Expenditures", "Other Operating Expenditures", 
                               "Total Operating Expenditures","Print Collection", "Digital Collection", "Audio Collection", 
                               "Downloadable Audio", "Physical Video", "Downloadable Video"]]
                               
libraries_df

,State,Library ID,Library Name,Street Address,City,Longitude,Latitude,Service Population Without Duplicates,Hours Open,Library Visits,...,Other Collection Expenditures,Total Collection Expenditures,Other Operating Expenditures,Total Operating Expenditures,Print Collection,Digital Collection,Audio Collection,Downloadable Audio,Physical Video,Downloadable Video
0,AK,AK0001,ANCHOR POINT PUBLIC LIBRARY,72551 MILO FRITZ AVENUE,ANCHOR POINT,-151.840007,59.779604,2059,1377,5379,...,1009,4030,,21282,16843,0,258,0,4159,0
1,AK,AK0002,ANCHORAGE PUBLIC LIBRARY,3600 DENALI STREET,ANCHORAGE,-149.876781,61.187677,300549,10208,942873,...,253111,1152280,3690161,10910542,481861,9773,28552,10496,63779,0
2,AK,AK0003,ANDERSON VILLAGE LIBRARY,101 FIRST STREET,ANDERSON,-149.178635,64.343598,209,480,874,...,877,3508,,11449,15304,0,48,0,1091,0
3,AK,AK0006,KUSKOKWIM CONSORTIUM LIBRARY,420 CHIEF EDDIE HOFFMAN HIGHWAY,BETHEL,-161.802957,60.785755,6241,2912,44980,...,4871,14801,5926,261212,34115,165,434,0,2345,0
4,AK,AK0007,BIG LAKE PUBLIC LIBRARY,3140 SOUTH BIG LAKE ROAD,BIG LAKE,-149.818403,61.546612,12793,2548,43285,...,0,21552,52251,347675,23810,9773,1813,10496,2623,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9237,WY,WY0019,SUBLETTE COUNTY LIBRARY,155 S TYLER ST,PINEDALE,-109.861281,42.865097,10041,6468,197314,...,39968,112968,253775,1242920,73390,7766,4480,5850,10282,0
9238,WY,WY0020,TETON COUNTY LIBRARY,125 VIRGINIAN LANE,JACKSON,-110.779203,43.471780,22268,4316,280211,...,30984,130105,393270,3159627,81207,7832,12488,6055,8257,0
9239,WY,WY0021,UINTA COUNTY LIBRARY,701 MAIN ST,EVANSTON,-110.963405,41.265975,21066,6292,112403,...,0,0,87056,685960,111377,7087,5916,5850,10771,0
9240,WY,WY0022,WASHAKIE COUNTY LIBRARY,1019 COBURN AVE,WORLAND,-107.955461,44.015771,8463,4943,73300,...,9317,25317,45750,247071,73464,7087,2065,5850,3208,0
9241,WY,WY0023,WESTON COUNTY LIBRARY SYSTEM,23 WEST MAIN ST,NEWCASTLE,-104.202302,43.855671,7158,3770,43103,...,4634,16443,48115,308016,43264,7087,1862,5850,3831,0

In [6]:
libraries_final = libraries_df.rename(columns={"State": "state", "Library ID": "library_id", "Library Name": "library_name",
                                               "Street Address": "street_address", "City": "city", "Longitude": "lon", 
                                               "Latitude": "lat", "Service Population Without Duplicates": "services_population",
                                               "Hours Open": "hours", "Library Visits": "visits", "Registered Users": "registered_users",
                                               "Circulation Transactions": "circulation_transactions", "Bookmobiles": "bookmobiles", 
                                               "MLS Librarians": "mls_librarians", "Librarians": "librarians", "Employees": "employees",
                                               "Total Staff": "total_staff", "Salaries": "salaries", "Benefits": "benefits", 
                                               "Total Staff Expenditures": "total_staff_expenditures", "Local Government Operating Revenue": "local_govt_operating_revenue", 
                                               "State Government Operating Revenue": "state_govt_operating_revenue", 
                                               "Federal Government Operating Revenue": "federal_govt_operating_revenue", 
                                               "Other Operating Revenue": "other_operating_revenue", "Total Operating Revenue": "total_operating_revenue", 
                                               "Print Collection Expenditures": "print_collections_expenditures", "Digital Collection Expenditures": "digital_collections_expenditures", 
                                               "Other Collection Expenditures": "other_collection_expenditures", "Total Collection Expenditures": "total_collection_expenditures", 
                                               "Other Operating Expenditures": "other_operating_expenditures", "Total Operating Expenditures": "total_operating_expenditures",
                                               "Print Collection": "print_collection", "Digital Collection": "digital_collection", 
                                               "Audio Collection": "audio_collection", "Downloadable Audio": "downloadable_audio", 
                                               "Physical Video": "physical_video", "Downloadable Video": "downloadable_video"})
                               
libraries_final

,state,library_id,library_name,street_address,city,lon,lat,services_population,hours,visits,...,other_collection_expenditures,total_collection_expenditures,other_operating_expenditures,total_operating_expenditures,print_collection,digital_collection,audio_collection,downloadable_audio,physical_video,downloadable_video
0,AK,AK0001,ANCHOR POINT PUBLIC LIBRARY,72551 MILO FRITZ AVENUE,ANCHOR POINT,-151.840007,59.779604,2059,1377,5379,...,1009,4030,,21282,16843,0,258,0,4159,0
1,AK,AK0002,ANCHORAGE PUBLIC LIBRARY,3600 DENALI STREET,ANCHORAGE,-149.876781,61.187677,300549,10208,942873,...,253111,1152280,3690161,10910542,481861,9773,28552,10496,63779,0
2,AK,AK0003,ANDERSON VILLAGE LIBRARY,101 FIRST STREET,ANDERSON,-149.178635,64.343598,209,480,874,...,877,3508,,11449,15304,0,48,0,1091,0
3,AK,AK0006,KUSKOKWIM CONSORTIUM LIBRARY,420 CHIEF EDDIE HOFFMAN HIGHWAY,BETHEL,-161.802957,60.785755,6241,2912,44980,...,4871,14801,5926,261212,34115,165,434,0,2345,0
4,AK,AK0007,BIG LAKE PUBLIC LIBRARY,3140 SOUTH BIG LAKE ROAD,BIG LAKE,-149.818403,61.546612,12793,2548,43285,...,0,21552,52251,347675,23810,9773,1813,10496,2623,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9237,WY,WY0019,SUBLETTE COUNTY LIBRARY,155 S TYLER ST,PINEDALE,-109.861281,42.865097,10041,6468,197314,...,39968,112968,253775,1242920,73390,7766,4480,5850,10282,0
9238,WY,WY0020,TETON COUNTY LIBRARY,125 VIRGINIAN LANE,JACKSON,-110.779203,43.471780,22268,4316,280211,...,30984,130105,393270,3159627,81207,7832,12488,6055,8257,0
9239,WY,WY0021,UINTA COUNTY LIBRARY,701 MAIN ST,EVANSTON,-110.963405,41.265975,21066,6292,112403,...,0,0,87056,685960,111377,7087,5916,5850,10771,0
9240,WY,WY0022,WASHAKIE COUNTY LIBRARY,1019 COBURN AVE,WORLAND,-107.955461,44.015771,8463,4943,73300,...,9317,25317,45750,247071,73464,7087,2065,5850,3208,0
9241,WY,WY0023,WESTON COUNTY LIBRARY SYSTEM,23 WEST MAIN ST,NEWCASTLE,-104.202302,43.855671,7158,3770,43103,...,4634,16443,48115,308016,43264,7087,1862,5850,3831,0

In [7]:
col_dtypes = dict([(k, v.name) for k, v in dict(libraries_final.dtypes).items()])
print(col_dtypes)

{'state': 'object', 'library_id': 'object', 'library_name': 'object', 'street_address': 'object', 'city': 'object', 'lon': 'float64', 'lat': 'float64', 'services_population': 'object', 'hours': 'object', 'visits': 'object', 'registered_users': 'object', 'circulation_transactions': 'object', 'bookmobiles': 'object', 'mls_librarians': 'object', 'librarians': 'object', 'employees': 'object', 'total_staff': 'object', 'salaries': 'object', 'benefits': 'object', 'total_staff_expenditures': 'object', 'local_govt_operating_revenue': 'object', 'state_govt_operating_revenue': 'object', 'federal_govt_operating_revenue': 'object', 'other_operating_revenue': 'object', 'total_operating_revenue': 'object', 'print_collections_expenditures': 'object', 'digital_collections_expenditures': 'object', 'other_collection_expenditures': 'object', 'total_collection_expenditures': 'object', 'other_operating_expenditures': 'object', 'total_operating_expenditures': 'object', 'print_collection': 'object', 'digital_collection': 'object', 'audio_collection': 'object', 'downloadable_audio': 'object', 'physical_video': 'object', 'downloadable_video': 'object'}

In [8]:

libraries_final.drop(6095, inplace=True)

In [9]:
libraries_final["salaries"] = libraries_final["salaries"].str.strip()
libraries_final["benefits"] = libraries_final["benefits"].str.strip()
libraries_final["total_staff_expenditures"] = libraries_final["total_staff_expenditures"].str.strip()
libraries_final["other_collection_expenditures"] = libraries_final["other_collection_expenditures"].str.strip()
libraries_final["other_operating_expenditures"] = libraries_final["other_operating_expenditures"].str.strip()

In [10]:
libraries_final["benefits"] = libraries_final["benefits"].str.strip()
libraries_final["total_staff_expenditures"] = libraries_final["total_staff_expenditures"].str.strip()

In [11]:
# df["A"] = pd.to_numeric(df["A"], downcast="float")
libraries_final["salaries"] = pd.to_numeric(libraries_final["salaries"])
libraries_final["benefits"] = pd.to_numeric(libraries_final["benefits"])
libraries_final["total_staff_expenditures"] = pd.to_numeric(libraries_final["total_staff_expenditures"])
libraries_final["other_collection_expenditures"] = pd.to_numeric(libraries_final["other_collection_expenditures"])
libraries_final["other_operating_expenditures"] = pd.to_numeric(libraries_final["other_operating_expenditures"])
libraries_final["circulation_transactions"] = pd.to_numeric(libraries_final["circulation_transactions"])

In [12]:
# # df['DataFrame Column'] = df['DataFrame Column'].astype(float)
libraries_final["services_population"] = libraries_final["services_population"].astype(float)
libraries_final["visits"] = libraries_final["visits"].astype(float)
libraries_final["registered_users"] = libraries_final["registered_users"].astype(float)
libraries_final["bookmobiles"] = libraries_final["bookmobiles"].astype(float)
libraries_final["mls_librarians"] = libraries_final["mls_librarians"].astype(float)
libraries_final["librarians"] = libraries_final["librarians"].astype(float)
libraries_final["employees"] = libraries_final["employees"].astype(float)
libraries_final["total_staff"] = libraries_final["total_staff"].astype(float)
libraries_final["circulation_transactions"] = libraries_final["circulation_transactions"].astype(float)
                                                      
libraries_final["salaries"] = libraries_final["salaries"].astype(float)
libraries_final["benefits"] = libraries_final["benefits"].astype(float)
libraries_final["total_staff_expenditures"] = libraries_final["total_staff_expenditures"].astype(float)
libraries_final["local_govt_operating_revenue"] = libraries_final["local_govt_operating_revenue"].astype(float)
libraries_final["state_govt_operating_revenue"] = libraries_final["state_govt_operating_revenue"].astype(float)
libraries_final["federal_govt_operating_revenue"] = libraries_final["federal_govt_operating_revenue"].astype(float)
libraries_final["other_operating_revenue"] = libraries_final["other_operating_revenue"].astype(float)
libraries_final["total_operating_revenue"] = libraries_final["total_operating_revenue"].astype(float)
                                                      
libraries_final["print_collections_expenditures"] = libraries_final["print_collections_expenditures"].astype(float)
libraries_final["digital_collections_expenditures"] = libraries_final["digital_collections_expenditures"].astype(float)
# libraries_final["other_collections_expenditures"] = libraries_final["other_collections_expenditures"].astype(float)
libraries_final["total_collection_expenditures"] = libraries_final["total_collection_expenditures"].astype(float)
libraries_final["other_operating_expenditures"] = libraries_final["other_operating_expenditures"].astype(float)
libraries_final["total_operating_expenditures"] = libraries_final["total_operating_expenditures"].astype(float)
libraries_final["print_collection"] = libraries_final["print_collection"].astype(float)
                                                      
libraries_final["digital_collection"] = libraries_final["digital_collection"].astype(float)
libraries_final["audio_collection"] = libraries_final["audio_collection"].astype(float)
libraries_final["downloadable_audio"] = libraries_final["downloadable_audio"].astype(float)
libraries_final["physical_video"] = libraries_final["physical_video"].astype(float)
libraries_final["downloadable_video"] = libraries_final["downloadable_video"].astype(float)

In [13]:
col_dtypes = dict([(k, v.name) for k, v in dict(libraries_final.dtypes).items()])
print(col_dtypes)

{'state': 'object', 'library_id': 'object', 'library_name': 'object', 'street_address': 'object', 'city': 'object', 'lon': 'float64', 'lat': 'float64', 'services_population': 'float64', 'hours': 'object', 'visits': 'float64', 'registered_users': 'float64', 'circulation_transactions': 'float64', 'bookmobiles': 'float64', 'mls_librarians': 'float64', 'librarians': 'float64', 'employees': 'float64', 'total_staff': 'float64', 'salaries': 'float64', 'benefits': 'float64', 'total_staff_expenditures': 'float64', 'local_govt_operating_revenue': 'float64', 'state_govt_operating_revenue': 'float64', 'federal_govt_operating_revenue': 'float64', 'other_operating_revenue': 'float64', 'total_operating_revenue': 'float64', 'print_collections_expenditures': 'float64', 'digital_collections_expenditures': 'float64', 'other_collection_expenditures': 'float64', 'total_collection_expenditures': 'float64', 'other_operating_expenditures': 'float64', 'total_operating_expenditures': 'float64', 'print_collection': 'float64', 'digital_collection': 'float64', 'audio_collection': 'float64', 'downloadable_audio': 'float64', 'physical_video': 'float64', 'downloadable_video': 'float64'}

In [14]:

# print(libraries_final.iloc[[6095]])
display(libraries_final.iloc[[6095]])

,state,library_id,library_name,street_address,city,lon,lat,services_population,hours,visits,...,other_collection_expenditures,total_collection_expenditures,other_operating_expenditures,total_operating_expenditures,print_collection,digital_collection,audio_collection,downloadable_audio,physical_video,downloadable_video
6096,NY,NY0438,CONSTABLEVILLE LIBRARY,3158 MAIN STREET,CONSTABLEVILLE,-75.42864,43.565388,240.0,728,1666.0,...,0.0,879.0,NaN,24720.0,3380.0,3140.0,35.0,706.0,247.0,0.0

In [15]:
libraries_final["total_staff"].describe

<bound method NDFrame.describe of 0        0.68
1       78.90
2        0.50
3        3.00
4        3.00
        ...
9237    15.00
9238    41.36
9239    13.00
9240     6.30
9241     6.41
Name: total_staff, Length: 9241, dtype: float64>

In [16]:
libraries_final = libraries_final[libraries_final.lat != 0]
libraries_final

,state,library_id,library_name,street_address,city,lon,lat,services_population,hours,visits,...,other_collection_expenditures,total_collection_expenditures,other_operating_expenditures,total_operating_expenditures,print_collection,digital_collection,audio_collection,downloadable_audio,physical_video,downloadable_video
0,AK,AK0001,ANCHOR POINT PUBLIC LIBRARY,72551 MILO FRITZ AVENUE,ANCHOR POINT,-151.840007,59.779604,2059.0,1377,5379.0,...,1009.0,4030.0,NaN,21282.0,16843.0,0.0,258.0,0.0,4159.0,0.0
1,AK,AK0002,ANCHORAGE PUBLIC LIBRARY,3600 DENALI STREET,ANCHORAGE,-149.876781,61.187677,300549.0,10208,942873.0,...,253111.0,1152280.0,3690161.0,10910542.0,481861.0,9773.0,28552.0,10496.0,63779.0,0.0
2,AK,AK0003,ANDERSON VILLAGE LIBRARY,101 FIRST STREET,ANDERSON,-149.178635,64.343598,209.0,480,874.0,...,877.0,3508.0,NaN,11449.0,15304.0,0.0,48.0,0.0,1091.0,0.0
3,AK,AK0006,KUSKOKWIM CONSORTIUM LIBRARY,420 CHIEF EDDIE HOFFMAN HIGHWAY,BETHEL,-161.802957,60.785755,6241.0,2912,44980.0,...,4871.0,14801.0,5926.0,261212.0,34115.0,165.0,434.0,0.0,2345.0,0.0
4,AK,AK0007,BIG LAKE PUBLIC LIBRARY,3140 SOUTH BIG LAKE ROAD,BIG LAKE,-149.818403,61.546612,12793.0,2548,43285.0,...,0.0,21552.0,52251.0,347675.0,23810.0,9773.0,1813.0,10496.0,2623.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9237,WY,WY0019,SUBLETTE COUNTY LIBRARY,155 S TYLER ST,PINEDALE,-109.861281,42.865097,10041.0,6468,197314.0,...,NaN,112968.0,253775.0,1242920.0,73390.0,7766.0,4480.0,5850.0,10282.0,0.0
9238,WY,WY0020,TETON COUNTY LIBRARY,125 VIRGINIAN LANE,JACKSON,-110.779203,43.471780,22268.0,4316,280211.0,...,NaN,130105.0,393270.0,3159627.0,81207.0,7832.0,12488.0,6055.0,8257.0,0.0
9239,WY,WY0021,UINTA COUNTY LIBRARY,701 MAIN ST,EVANSTON,-110.963405,41.265975,21066.0,6292,112403.0,...,NaN,0.0,87056.0,685960.0,111377.0,7087.0,5916.0,5850.0,10771.0,0.0
9240,WY,WY0022,WASHAKIE COUNTY LIBRARY,1019 COBURN AVE,WORLAND,-107.955461,44.015771,8463.0,4943,73300.0,...,NaN,25317.0,45750.0,247071.0,73464.0,7087.0,2065.0,5850.0,3208.0,0.0
9241,WY,WY0023,WESTON COUNTY LIBRARY SYSTEM,23 WEST MAIN ST,NEWCASTLE,-104.202302,43.855671,7158.0,3770,43103.0,...,NaN,16443.0,48115.0,308016.0,43264.0,7087.0,1862.0,5850.0,3831.0,0.0

In [17]:
library_state = libraries_final.groupby('state')
library_state.sum()

,lon,lat,services_population,visits,registered_users,circulation_transactions,bookmobiles,mls_librarians,librarians,employees,...,other_collection_expenditures,total_collection_expenditures,other_operating_expenditures,total_operating_expenditures,print_collection,digital_collection,audio_collection,downloadable_audio,physical_video,downloadable_video
state,,,,,,,,,,,,,,,,,,,,,
AK,-11807.160724,4774.251933,627556.0,3119114.0,326094.0,4551999.0,1.0,53.81,104.75,175.96,...,534435.0,3080400.0,7225216.0,3.416969e+07,2233940.0,312438.0,107652.0,3.311370e+05,259544.0,306.000000
AL,-19087.812537,7263.087581,4701604.0,16348130.0,2571944.0,20163906.0,10.0,322.58,718.72,1060.88,...,2677224.0,10434197.0,19002709.0,9.816384e+07,9275489.0,2609567.0,445554.0,6.271202e+05,609756.0,27383.000000
AR,-5286.049498,2005.357693,2603385.0,10905817.0,1579579.0,14281573.0,2.0,141.01,274.40,765.09,...,1891986.0,9371051.0,18188524.0,7.145002e+07,6149040.0,532048.0,227340.0,1.855830e+05,394689.0,10024.000000
AZ,-10148.047262,3060.650075,6667241.0,27609708.0,3118822.0,43672064.0,8.0,458.32,543.24,1482.28,...,5788514.0,26576821.0,44014816.0,1.766130e+08,8229847.0,1367375.0,689613.0,6.942202e+05,1116660.0,6278.000000
CA,-21681.538096,6521.184225,37726707.0,160785999.0,21474174.0,213051436.0,51.0,2895.25,3122.46,8203.04,...,17496315.0,107911017.0,318419497.0,1.250211e+09,63754181.0,2887854.0,3374465.0,5.643311e+05,4882868.0,135125.000000
CO,-11904.903914,4413.791137,5175431.0,32973317.0,3587507.0,64674349.0,13.0,663.22,909.62,2339.21,...,9593366.0,35406783.0,60698859.0,2.624060e+08,10307510.0,1387644.0,920490.0,5.225824e+05,1342755.0,30485.679541
CT,-13965.758677,7983.966085,3596074.0,21972583.0,1647190.0,31081616.0,4.0,752.51,1074.91,1210.12,...,3217904.0,19159152.0,35620191.0,2.032587e+08,14577630.0,1312468.0,826586.0,1.025994e+06,1122198.0,13481.000000
DC,-77.024209,38.898410,658893.0,4230790.0,359371.0,3938767.0,0.0,147.00,147.00,423.00,...,495000.0,3835732.0,11798205.0,5.431334e+07,1815540.0,177086.0,86416.0,1.615400e+04,140667.0,804.000000
DE,-1509.212311,778.583363,863075.0,3708376.0,349448.0,6048813.0,2.0,55.70,113.84,188.55,...,635597.0,2534117.0,4647956.0,2.275582e+07,1481707.0,395400.0,109926.0,5.130000e+04,167137.0,0.000000
FL,-6552.197630,2249.217610,19404265.0,75087505.0,10526564.0,115951630.0,24.0,1661.69,1909.91,4057.87,...,10733317.0,60058664.0,143057959.0,5.095209e+08,31428531.0,1797802.0,1939951.0,8.247334e+05,3505920.0,140704.000000
GA,-4859.754810,1913.395938,9210710.0,25557773.0,3803137.0,34669339.0,13.0,525.58,525.58,1878.61,...,1844065.0,13972422.0,33826034.0,1.625236e+08,15167363.0,320705.0,575424.0,2.404947e+05,799388.0,1505.809442
HI,-157.863240,21.309500,1404054.0,4875365.0,915100.0,6465428.0,2.0,171.00,172.00,375.50,...,76731.0,3362558.0,7414411.0,3.315411e+07,3313134.0,22966.0,232174.0,9.338000e+03,155949.0,0.000000
IA,-50184.567080,22648.869093,2856349.0,17139486.0,1952723.0,25212186.0,2.0,278.40,958.47,673.20,...,2781687.0,13639333.0,17314188.0,1.074096e+08,11612728.0,4624571.0,634009.0,2.481920e+06,894338.0,3772.000000
ID,-11832.407930,4557.354308,1355676.0,8730670.0,846363.0,14336583.0,11.0,96.15,208.46,556.04,...,672774.0,5841093.0,11859654.0,4.886592e+07,4323706.0,242096.0,234524.0,6.554800e+04,316865.0,533.000000
IL,-55130.198713,25170.746772,11651305.0,72490128.0,5594514.0,114051081.0,19.0,2145.28,3150.05,5451.85,...,14006537.0,81246036.0,159902676.0,7.094366e+08,43362212.0,7069607.0,2686280.0,2.252190e+06,3482959.0,185256.862655
IN,-20185.807279,9391.515631,5923577.0,34726895.0,3613585.0,76030982.0,25.0,908.20,1399.48,2878.27,...,8269759.0,42070392.0,71252088.0,3.002266e+08,23444707.0,4189592.0,1542069.0,6.950000e+05,2069365.0,41356.000000
KS,-31398.733087,12378.944740,2491536.0,13910175.0,1771475.0,25018934.0,5.0,279.23,697.57,1021.18,...,2618173.0,14375156.0,25233091.0,1.148786e+08,9247153.0,302350.0,479878.0,4.538538e+04,815563.0,18462.588019
KY,-9965.223477,4402.725834,4331900.0,19018685.0,2627866.0,29985283.0,74.0,347.42,1177.33,965.11,...,4213203.0,19606349.0,31077790.0,1.374795e+08,8870757.0,6770394.0,506683.0,1.974874e+06,783090.0,902214.364179
LA,-5784.912379,1955.508879,4516660.0,17007709.0,2407124.0,20618095.0,27.0,452.14,1036.58,1549.70,...,5025303.0,23681050.0,54879056.0,1.967683e+08,11591405.0,817327.0,459399.0,2.872050e+05,1045973.0,44672.000000
MA,-25927.450104,15295.370179,6450652.0,41175805.0,3335227.0,61945353.0,4.0,1239.35,1765.92,1874.10,...,6598055.0,34707989.0,47223099.0,2.883241e+08,30892223.0,7332265.0,1473652.0,1.780418e+06,1859789.0,111949.000000
MD,-1840.229192,936.299293,5828289.0,27793912.0,3491938.0,58307979.0,16.0,651.08,1348.86,1982.30,...,7500928.0,34336719.0,35707386.0,2.630518e+08,12735957.0,1906659.0,1068364.0,1.477036e+06,1106941.0,9070.000000
ME,-18352.700705,11733.613211,1214331.0,6907367.0,758474.0,9368857.0,-5.0,149.77,332.71,335.22,...,670021.0,4226617.0,7580342.0,4.379220e+07,6302763.0,1242655.0,230724.0,8.070040e+05,361842.0,14321.000000
MI,-32894.591372,16809.122806,9842985.0,50122229.0,5128433.0,83845678.0,9.0,1238.11,1777.39,3012.81,...,9539514.0,40181636.0,92130696.0,3.711696e+08,32560459.0,2803502.0,1968361.0,9.717903e+05,2451654.0,46626.191388
MN,-12749.143896,6141.647970,5414569.0,24495492.0,4076209.0,54059650.0,8.0,518.20,774.15,1360.21,...,4465203.0,23986475.0,50102228.0,2.063981e+08,14582390.0,3446842.0,882005.0,4.507680e+05,982480.0,27497.000000
MO,-13921.537381,5796.886824,5476141.0,29533418.0,3289931.0,55722388.0,24.0,267.27,795.53,2338.64,...,6513520.0,32678045.0,53691593.0,2.216238e+08,16795426.0,273971.0,983273.0,8.301100e+04,1126983.0,9527.000000
MS,-4664.591058,1700.730758,2982555.0,9191161.0,1637307.0,8066272.0,2.0,130.78,630.29,310.26,...,715380.0,4448497.0,11473390.0,4.877613e+07,5641524.0,60677.0,203485.0,1.640200e+04,332341.0,296.000000
MT,-9055.438389,3844.589329,988529.0,4703036.0,481933.0,5941658.0,4.0,72.11,190.30,192.85,...,479054.0,2770814.0,4255660.0,2.523491e+07,2566095.0,953053.0,107035.0,6.881520e+05,184416.0,21580.000000
NC,-6370.504504,2846.938505,9861952.0,35106249.0,5059879.0,52848517.0,23.0,718.88,771.64,2135.19,...,2801557.0,21679327.0,38332863.0,2.024065e+08,16751726.0,3335644.0,710239.0,4.706750e+05,814043.0,85921.000000
ND,-8190.165452,3888.214536,650595.0,2186029.0,281383.0,3994619.0,2.0,30.88,125.27,102.03,...,326654.0,2475489.0,3429268.0,1.731072e+07,2303511.0,384482.0,90452.0,1.192770e+05,119596.0,12604.000000
NE,-25819.035335,10808.202887,1535173.0,8295555.0,1081835.0,13110244.0,6.0,114.43,353.59,434.07,...,1095099.0,7484219.0,8122622.0,5.208182e+07,5857159.0,2620532.0,251944.0,1.200890e+06,339844.0,268.000000
NH,-16322.192771,9895.636837,1171521.0,7459713.0,805950.0,10402748.0,-3.0,217.31,469.96,328.89,...,1054529.0,5977606.0,8109924.0,5.741055e+07,5829684.0,4227137.0,279005.0,1.594914e+06,436407.0,233.000000
NJ,-22031.712430,11996.440316,8708748.0,45848755.0,4408002.0,58683207.0,12.0,1177.28,1410.33,3323.64,...,7917806.0,40765435.0,85690825.0,4.531055e+08,28228099.0,3162812.0,1721872.0,2.457319e+06,2106354.0,280548.805969
NM,-9981.776641,3269.291129,1637197.0,7344187.0,1029135.0,9225721.0,1.0,125.64,281.04,376.23,...,1124687.0,6702522.0,8855447.0,4.541792e+07,4306702.0,197152.0,210179.0,8.988300e+04,307285.0,1177.000000
NV,-2343.613141,766.038286,2569763.0,10116498.0,1231108.0,20394250.0,3.0,160.48,197.06,620.85,...,2539933.0,10070005.0,13463795.0,7.620412e+07,4117253.0,195076.0,395067.0,6.053500e+04,567249.0,25847.000000
NY,-56402.358181,31758.732882,19351482.0,106355940.0,10909766.0,142916522.0,7.0,3435.27,4066.92,8381.90,...,16044948.0,101990667.0,232729095.0,1.216035e+09,70715985.0,14525244.0,3504642.0,3.432081e+06,5144199.0,739088.000000
OH,-20756.156525,10192.082385,11525088.0,82495138.0,9043300.0,183628646.0,53.0,1901.03,2598.91,6335.88,...,32163245.0,96925753.0,142579075.0,6.874421e+08,42782249.0,40371164.0,3516670.0,1.058957e+07,5085701.0,705723.761937
OK,-11191.868440,4106.408243,2772863.0,11885309.0,1791039.0,19187650.0,4.0,247.46,574.21,692.12,...,2971020.0,13027441.0,19100198.0,9.540473e+07,6475724.0,1605988.0,449297.0,4.048410e+05,328714.0,22390.000000
OR,-15607.311175,5736.555857,3746192.0,21603215.0,1957446.0,57078989.0,7.0,408.11,496.04,1295.59,...,3958805.0,18998211.0,43212789.0,1.880902e+08,9826412.0,3833395.0,749702.0,2.529338e+06,914553.0,145859.245735
PA,-35156.394801,18411.989044,12380380.0,44670217.0,5303330.0,66235399.0,23.0,1162.53,1478.11,2951.40,...,6020238.0,35378099.0,75215968.0,3.336864e+08,25695333.0,5300757.0,2137245.0,2.276893e+06,1848670.0,415748.879189
RI,-3431.652443,2001.366091,1051509.0,6025726.0,466618.0,7161678.0,1.0,206.98,248.51,336.59,...,702647.0,3637402.0,8045747.0,4.587116e+07,4233090.0,1226544.0,147763.0,4.636270e+05,225827.0,13703.000000
SC,-3397.662021,1430.788923,4652360.0,18178677.0,2599480.0,26021153.0,31.0,475.21,602.36,1306.73,...,3897250.0,16720728.0,23512495.0,1.259725e+08,9106716.0,493708.0,433564.0,2.954930e+05,717538.0,23057.000000
SD,-10705.628301,4772.394353,690467.0,3868523.0,376842.0,5679407.0,4.0,45.23,177.32,171.26,...,465852.0,3186687.0,3987721.0,2.391723e+07,2741585.0,941494.0,109929.0,2.957580e+05,146741.0,6495.000000
TN,-15894.212062,6633.704361,6329980.0,19526448.0,3360358.0,26173782.0,3.0,261.57,560.04,1256.75,...,1640328.0,14175793.0,20778930.0,1.083440e+08,11757078.0,15161123.0,593387.0,5.873909e+06,735115.0,484172.000000
TX,-53338.694258,17145.832470,23833220.0,71291066.0,12919732.0,110782989.0,7.0,1644.65,2402.26,4251.71,...,10026497.0,60546625.0,77085869.0,4.630297e+08,39671370.0,3338115.0,2018149.0,9.396440e+05,2752543.0,57221.000000
UT,-8049.301624,2871.647548,2861735.0,17573734.0,1787253.0,37132373.0,16.0,214.95,358.03,874.58,...,0.0,14442851.0,19385882.0,9.736674e+07,6601677.0,550691.0,611605.0,7.750950e+05,642916.0,10031.000000
VA,-7141.824912,3417.734219,8088031.0,37405643.0,4850306.0,74613394.0,22.0,878.66,974.35,2841.62,...,0.0,27284094.0,56467563.0,2.729357e+08,17539588.0,1997762.0,1017716.0,3.324520e+05,1193415.0,37652.000000
VT,-13232.235198,8010.060763,604913.0,3779545.0,323486.0,4479630.0,4.0,64.28,210.85,134.68,...,0.0,2432733.0,3678333.0,2.315308e+07,2940126.0,82117.0,139772.0,1.151392e+05,192725.0,1077.000000
WA,-7362.614487,2885.725092,6846913.0,41151390.0,4361688.0,83744805.0,27.0,782.01,825.88,2893.99,...,0.0,50235569.0,66588123.0,3.748467e+08,13429660.0,1757672.0,1191917.0,7.648500e+05,1530980.0,28987.000000
WI,-33647.596240,16523.691599,5680002.0,32524296.0,3423430.0,59928547.0,6.0,677.22,1131.05,1894.75,...,0.0,24273458.0,43520072.0,2.222417e+08,18621454.0,46344844.0,1453640.0,1.088280e+07,1951451.0,392203.000000
WV,-7813.178013,3765.279854,1852994.0,5367596.0,933968.0,6261504.0,8.0,95.13,361.58,284.56,...,0.0,5074608.0,6559873.0,3.490448e+07,5034331.0,4801068.0,194685.0,4.200320e+05,295330.0,17570.000000
WY,-2464.290172,988.744452,582658.0,3666825.0,400460.0,4914332.0,2.0,58.29,180.47,282.44,...,0.0,2697709.0,5494704.0,3.164457e+07,2496972.0,171815.0,164681.0,1.354200e+05,197130.0,283.000000

In [18]:
state_data.head()

        State Abbreviation  Unnamed: 2
0     Alabama           AL         NaN
1      Alaska           AK         NaN
2     Arizona           AZ         NaN
3    Arkansas           AR         NaN
4  California           CA         NaN

In [19]:
state_data.drop(columns=["Unnamed: 2"], inplace=True)
state_data.head()

        State Abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [20]:

# Merge DataFrames
libraries_state = libraries_final.merge(state_data, how="outer", left_on='state', right_on="Abbreviation")
libraries_state.head()

,state,library_id,library_name,street_address,city,lon,lat,services_population,hours,visits,...,other_operating_expenditures,total_operating_expenditures,print_collection,digital_collection,audio_collection,downloadable_audio,physical_video,downloadable_video,State,Abbreviation
0,AK,AK0001,ANCHOR POINT PUBLIC LIBRARY,72551 MILO FRITZ AVENUE,ANCHOR POINT,-151.840007,59.779604,2059.0,1377,5379.0,...,NaN,21282.0,16843.0,0.0,258.0,0.0,4159.0,0.0,Alaska,AK
1,AK,AK0002,ANCHORAGE PUBLIC LIBRARY,3600 DENALI STREET,ANCHORAGE,-149.876781,61.187677,300549.0,10208,942873.0,...,3690161.0,10910542.0,481861.0,9773.0,28552.0,10496.0,63779.0,0.0,Alaska,AK
2,AK,AK0003,ANDERSON VILLAGE LIBRARY,101 FIRST STREET,ANDERSON,-149.178635,64.343598,209.0,480,874.0,...,NaN,11449.0,15304.0,0.0,48.0,0.0,1091.0,0.0,Alaska,AK
3,AK,AK0006,KUSKOKWIM CONSORTIUM LIBRARY,420 CHIEF EDDIE HOFFMAN HIGHWAY,BETHEL,-161.802957,60.785755,6241.0,2912,44980.0,...,5926.0,261212.0,34115.0,165.0,434.0,0.0,2345.0,0.0,Alaska,AK
4,AK,AK0007,BIG LAKE PUBLIC LIBRARY,3140 SOUTH BIG LAKE ROAD,BIG LAKE,-149.818403,61.546612,12793.0,2548,43285.0,...,52251.0,347675.0,23810.0,9773.0,1813.0,10496.0,2623.0,0.0,Alaska,AK

In [21]:
libraries_state.drop(columns=["Abbreviation"], inplace=True)
libraries_state.head()

,state,library_id,library_name,street_address,city,lon,lat,services_population,hours,visits,...,total_collection_expenditures,other_operating_expenditures,total_operating_expenditures,print_collection,digital_collection,audio_collection,downloadable_audio,physical_video,downloadable_video,State
0,AK,AK0001,ANCHOR POINT PUBLIC LIBRARY,72551 MILO FRITZ AVENUE,ANCHOR POINT,-151.840007,59.779604,2059.0,1377,5379.0,...,4030.0,NaN,21282.0,16843.0,0.0,258.0,0.0,4159.0,0.0,Alaska
1,AK,AK0002,ANCHORAGE PUBLIC LIBRARY,3600 DENALI STREET,ANCHORAGE,-149.876781,61.187677,300549.0,10208,942873.0,...,1152280.0,3690161.0,10910542.0,481861.0,9773.0,28552.0,10496.0,63779.0,0.0,Alaska
2,AK,AK0003,ANDERSON VILLAGE LIBRARY,101 FIRST STREET,ANDERSON,-149.178635,64.343598,209.0,480,874.0,...,3508.0,NaN,11449.0,15304.0,0.0,48.0,0.0,1091.0,0.0,Alaska
3,AK,AK0006,KUSKOKWIM CONSORTIUM LIBRARY,420 CHIEF EDDIE HOFFMAN HIGHWAY,BETHEL,-161.802957,60.785755,6241.0,2912,44980.0,...,14801.0,5926.0,261212.0,34115.0,165.0,434.0,0.0,2345.0,0.0,Alaska
4,AK,AK0007,BIG LAKE PUBLIC LIBRARY,3140 SOUTH BIG LAKE ROAD,BIG LAKE,-149.818403,61.546612,12793.0,2548,43285.0,...,21552.0,52251.0,347675.0,23810.0,9773.0,1813.0,10496.0,2623.0,0.0,Alaska

In [22]:
libraries_state = libraries_state.rename(columns={"State": "state_name"})
libraries_state.head()

,state,library_id,library_name,street_address,city,lon,lat,services_population,hours,visits,...,total_collection_expenditures,other_operating_expenditures,total_operating_expenditures,print_collection,digital_collection,audio_collection,downloadable_audio,physical_video,downloadable_video,state_name
0,AK,AK0001,ANCHOR POINT PUBLIC LIBRARY,72551 MILO FRITZ AVENUE,ANCHOR POINT,-151.840007,59.779604,2059.0,1377,5379.0,...,4030.0,NaN,21282.0,16843.0,0.0,258.0,0.0,4159.0,0.0,Alaska
1,AK,AK0002,ANCHORAGE PUBLIC LIBRARY,3600 DENALI STREET,ANCHORAGE,-149.876781,61.187677,300549.0,10208,942873.0,...,1152280.0,3690161.0,10910542.0,481861.0,9773.0,28552.0,10496.0,63779.0,0.0,Alaska
2,AK,AK0003,ANDERSON VILLAGE LIBRARY,101 FIRST STREET,ANDERSON,-149.178635,64.343598,209.0,480,874.0,...,3508.0,NaN,11449.0,15304.0,0.0,48.0,0.0,1091.0,0.0,Alaska
3,AK,AK0006,KUSKOKWIM CONSORTIUM LIBRARY,420 CHIEF EDDIE HOFFMAN HIGHWAY,BETHEL,-161.802957,60.785755,6241.0,2912,44980.0,...,14801.0,5926.0,261212.0,34115.0,165.0,434.0,0.0,2345.0,0.0,Alaska
4,AK,AK0007,BIG LAKE PUBLIC LIBRARY,3140 SOUTH BIG LAKE ROAD,BIG LAKE,-149.818403,61.546612,12793.0,2548,43285.0,...,21552.0,52251.0,347675.0,23810.0,9773.0,1813.0,10496.0,2623.0,0.0,Alaska

In [23]:
libraries_state.dtypes
# list(libraries_final.columns)

state                                object
library_id                           object
library_name                         object
street_address                       object
city                                 object
lon                                 float64
lat                                 float64
services_population                 float64
hours                                object
visits                              float64
registered_users                    float64
circulation_transactions            float64
bookmobiles                         float64
mls_librarians                      float64
librarians                          float64
employees                           float64
total_staff                         float64
salaries                            float64
benefits                            float64
total_staff_expenditures            float64
local_govt_operating_revenue        float64
state_govt_operating_revenue        float64
federal_govt_operating_revenue      float64
other_operating_revenue             float64
total_operating_revenue             float64
print_collections_expenditures      float64
digital_collections_expenditures    float64
other_collection_expenditures       float64
total_collection_expenditures       float64
other_operating_expenditures        float64
total_operating_expenditures        float64
print_collection                    float64
digital_collection                  float64
audio_collection                    float64
downloadable_audio                  float64
physical_video                      float64
downloadable_video                  float64
state_name                           object
dtype: object

In [24]:
# Create database conection
# rds_connection_string = f'{username}{password}@localhost:5432/libraries_db'
# engine = create_engine(f'postgresql://{rds_connection_string}')
# conn = engine.connect()

# create engine to postgreSQL
engine = create_engine(f'postgresql://postgres:{password}@{host}:{port}/{database}')
conn = engine.connect()

In [25]:
# Confirm tables
engine.table_names()

['libraries']

In [26]:
# Load DataFrame into database
libraries_state.to_sql(name='libraries', con=engine, if_exists='append', index=False)